html {
  box-sizing: border-box;
}

.container {
  display: flex;
  min-height: 100svh;
  min-height: 100vh;
  flex-direction: column;
  flex: 1;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  border: 1px solid black;
  flex: 1;
}