html {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.pageWrapper {
  display: flex;
  min-height: 100svh;
  min-height: 100vh;
  width: 100vw;
  justify-content: center;
  align-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 50%;
  min-width: 50%;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  border: 1px solid black;
  flex: 1;
}