html {
  box-sizing: border-box;
  background-color: #2FD09E;
  font-family: cursive, 'Franklin Gothic Medium';
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #D02F61;
  font-weight: 1000;
}

.pageWrapper {
  display: flex;
  min-height: 100svh;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 50%;
  min-width: 50%;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  border: 1px solid black;
  flex: 1;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding-left: 100px;
}

.reset {
  width: 120px;
  height: 40px;
  background-color: #4f2fd0;
  color: #D04E2F;
  font-size: 20px;
  font-weight: 1000;
  cursor: pointer;
  border-radius: 10px;
}

.reset:hover {
  transition-duration: 0.5ms;
  background-color: #4927d0;
  color: #d72b00;
}